@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Comic+Relief:wght@400;700&family=Hanuman:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Pinyon+Script&family=Playpen+Sans:wght@100..800&family=Story+Script&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Nav-global {
  width: 100vw;
  height: 48px;
  border: 2px solid black;
  background-color: #f5f5f7cc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.apple i {
  height: 19px;
  width: 16px;
  color: #000000cc;
  display: flex;
  margin-left: 17px;
}

.menu-items {
  display: flex;
  gap: 24px;
  display: none;
}
.menu-items p {
  font-size: 12px;
  font-style: regular;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #000000;
}
.buttons {
  display: flex;
  gap: 24px;
  margin-right: 15px;
}
.search {
  height: 16px;
  width: 16px;
  color: #000000cc;
}

.bag {
  height: 17px;
  width: 15px;
  color: #000000cc;
}
.menu {
  color: #000000cc;
  height: 18px;
  width: 18px;
}
.container1 {
  height: 73px;
  width: 100vw;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  margin-bottom: 12px;
}
.container1 p {
  font-size: 14px;
  font-style: regular;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #1d1d1f;
}
.iPhone16 {
  height: 500px;
  /* width: 100vw; */
  background-image: url(./images/iphone16pro.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: end;
}
.Pro_Letters {
  height: 114px;
  width: 241px;
  display: flex;
  flex-direction: column;
  margin-bottom: 36px;
}
.pro-letters {
  /* border: 2px solid red; */
  height: 62px;
  width: 241px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pro-letters h1 {
  font-size: 30px;
  font-style: bold;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  color: #f5f5f7;
  display: flex;
  justify-content: center;
}
.pro-letters p {
  font-size: 16px;
  font-style: regular;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #f5f5f7;
  display: flex;
  justify-content: center;
}
.bottom-buttons {
  width: 241px;
  height: 36px;
  display: flex;
  margin-top: 16px;
  margin-left: 28px;
  gap: 12px;
}
.learn {
  border-radius: 999px;
  background-color: #0071e3;
  height: 36px;
  width: 107px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.learn p {
  font-size: 14px;
  color: #ffffff;
  font-style: regular;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
.buy {
  border-radius: 999px;
  border: 1px solid #2997ff;
  height: 36px;
  width: 66px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buy p {
  font-size: 14px;
  color: #2997ff;
  font-style: regular;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.iPhone-blue {
  height: 500px;
  /* width: 100vw; */
  background-image: url(./images/iPhone\ pro16_blue\ mobile.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: start;
  margin-top: 12px;
  margin-bottom: 12px;
}
.Pro_Letters2 {
  height: 114px;
  width: 241px;
  display: flex;
  flex-direction: column;
  margin-top: 36px;
}
.pro-letters2 {
  /* border: 2px solid red; */
  height: 62px;
  width: 241px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pro-letters2 h1 {
  font-size: 30px;
  font-style: bold;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  color: #f5f5f7;
}
.pro-letters2 p {
  font-size: 16px;
  font-style: regular;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #f5f5f7;
  display: flex;
  justify-content: center;
}
.bottom-buttons2 {
  width: 241px;
  height: 36px;
  display: flex;
  margin-top: 16px;
  margin-left: 28px;
  gap: 12px;
}
.learn2 {
  border-radius: 999px;
  background-color: #ffffff;
  height: 36px;
  width: 107px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.learn2 p {
  font-size: 14px;
  color: #000000;
  font-style: regular;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 20px;
}
.buy2 {
  border-radius: 999px;
  border: 1px solid #ffffff;
  height: 36px;
  width: 66px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buy2 p {
  font-size: 14px;
  color: #ffffff;
  font-style: regular;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
.iPad {
  height: 500px;
  /* width: 100vw; */
  background-image: url(./images/iPad-air\ mobile.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: start;
  margin-bottom: 12px;
}
.Gift {
  display: none;
}
.iPad-letters {
  width: 390px;
  height: 133px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 36px;
}
.Air {
  width: 180px;
  height: 41.8px;
  border: 2px solid red;
  margin-bottom: 8px;
}
.All {
  height: 81.8px;
  width: 390px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.All p {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
}
.bottom-buttons3 {
  width: 390px;
  height: 36px;
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
}
.learn3 {
  border-radius: 999px;
  background-color: #0071e3;
  height: 36px;
  width: 107px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.learn3 p {
  font-size: 14px;
  color: #ffffff;
  font-style: regular;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
.buy3 {
  border-radius: 999px;
  border: 1px solid #2997ff;
  height: 36px;
  width: 66px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buy3 p {
  font-size: 14px;
  color: #2997ff;
  font-style: regular;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

@media screen and (min-width: 700px) {
  .container1 {
    height: 48px;
    margin-top: 12px;
    margin-bottom: 12px;
    width: 100vw;
  }
  .iPhone16 {
    height: 650px;
    background-image: url(./images/iPhone\ pro16\ tablet.svg);
    justify-content: start;
  }
  .Pro_Letters {
    height: 156px;
    width: 405px;
    display: flex;
    flex-direction: column;
    margin-top: 58px;
  }
  .pro-letters h1 {
    font-size: 42px;
    font-style: semibold;
    font-weight: 600;
  }
  .pro-letters p {
    font-size: 22px;
    font-style: regular;
    font-weight: 400;
  }
  .pro-letters {
    height: 96px;
    width: 405px;
  }
  .bottom-buttons {
    width: 207px;
    height: 44px;
    display: flex;
    margin-top: 16px;
    margin-left: 99px;
    gap: 16px;
  }
  .learn {
    height: 44px;
    width: 123px;
  }
  .buy {
    height: 44px;
    width: 68px;
  }
  .learn p {
    font-size: 16px;
  }
  .buy p {
    font-size: 16px;
  }
  .iPhone-blue {
    height: 650px;
    background-image: url(./images/iPhinepro16_blue\ tablet.jpg);
    justify-content: start;
  }
  .Pro_Letters2 {
    height: 156px;
    width: 405px;
    display: flex;
    flex-direction: column;
    margin-top: 58px;
  }
  .pro-letters2 h1 {
    font-size: 42px;
    font-style: semibold;
    font-weight: 600;
  }
  .pro-letters2 p {
    font-size: 22px;
    font-style: regular;
    font-weight: 400;
  }
  .pro-letters2 {
    height: 96px;
    width: 405px;
  }
  .bottom-buttons2 {
    width: 207px;
    height: 44px;
    display: flex;
    margin-top: 16px;
    margin-left: 99px;
    gap: 16px;
  }
  .learn2 {
    height: 44px;
    width: 123px;
  }
  .buy2 {
    height: 44px;
    width: 68px;
  }
  .learn2 p {
    font-size: 16px;
  }
  .buy2 p {
    font-size: 16px;
  }
  .iPad {
    height: 768px;
    /* width: 100vw; */
    background-image: url(./images/iPad-air\ mobile.jpg);
  }
}
@media screen and (min-width: 900px) {
  .menu-items {
    display: block;
    display: flex;
  }
  .Nav-global {
    display: flex;
    gap: 24px;
    justify-content: space-between;
    justify-content: center;
    height: 44px;
  }
  .container1 {
    height: 52px;
    margin: 0;
    border: 2px solid black;
  }
  .iPhone16 {
    height: 692px;
    background-image: url(./images/iPhone\ pro16\ desktop.svg);
  }
  .Pro_Letters {
    height: 172px;
    width: 405px;
    display: flex;
    flex-direction: column;
    margin-top: 55px;
  }
  .pro-letters h1 {
    font-size: 52px;
    font-style: semibold;
    font-weight: 600;
  }
  .pro-letters p {
    font-size: 24px;
    font-style: regular;
    font-weight: 400;
  }
  .pro-letters {
    height: 108px;
    width: 405px;
  }
  .bottom-buttons {
    width: 207px;
    height: 44px;
    display: flex;
    margin-top: 16px;
    margin-left: 99px;
    gap: 16px;
  }
  .learn {
    height: 44px;
    width: 123px;
  }
  .buy {
    height: 44px;
    width: 68px;
  }
  .iPhone-blue {
    height: 692px;
    background-image: url(./images/IPhonepro16_blue-desktop.jpg);
  }
  .Pro_Letters2 {
    height: 172px;
    width: 405px;
    display: flex;
    flex-direction: column;
    margin-top: 55px;
  }
  .pro-letters2 h1 {
    font-size: 52px;
    font-style: semibold;
    font-weight: 600;
  }
  .pro-letters2 p {
    font-size: 24px;
    font-style: regular;
    font-weight: 400;
  }
  .pro-letters2 {
    height: 108px;
    width: 405px;
  }
  .bottom-buttons2 {
    width: 207px;
    height: 44px;
    display: flex;
    margin-top: 16px;
    margin-left: 99px;
    gap: 16px;
  }
  .learn2 {
    height: 44px;
    width: 123px;
  }
  .buy2 {
    height: 44px;
    width: 68px;
  }
  .Gift {
    background-image: url(./images/gift\ for\ desktop.jpg);
    height: 692px;
    margin-bottom: 12px;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: end;
  }
  .gift-letters {
    height: 164px;
    width: 405px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 84px;
  }
  .gift_magic {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
  }
  .gift_magic h1 {
    font-size: 52px;
    font-style: semibold;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    color: #000000;
  }
  .true {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
  }
  .true p {
    font-size: 24px;
    font-style: regular;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: #000000;
  }
  .shop {
    height: 44px;
    width: 114px;
    border-radius: 999px;
    background-color: #0071e3;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .shop p {
    font-size: 16px;
    font-style: regular;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: #ffffff;
  }
}
