@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Comic+Relief:wght@400;700&family=Hanuman:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Pinyon+Script&family=Playpen+Sans:wght@100..800&family=Story+Script&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.center {
    margin: 0 auto;
}

.flex {
    display: flex;
}

.justify_center {
    justify-content: center;
}

.align_center {
    align-items: center;
}

.justify_between {
    justify-content: space-between;
}

.column {
    flex-direction: column;
}

.Nav-Global {
    height: 48px;
    width: 100vw;
    background-color: #F5F5F7CC;
    border: 2px solid black;
}

@media screen and (min-width: 1920px) {
    .Nav-Global {
        background-color: aqua;
    }
}

.Apple-icon,
.button-search,
.button-bag,
.button-menu {
    height: 48px;
    width: 49px;
    border: 2px solid red;
}

.Apple-icon i {
    height: 19px;
    width: 16px;
    color: #000000CC;
}

.button-search img {
    height: 16px;
    width: 16px;
    color: #000000CC;
}

.button-bag img {
    height: 17.6px;
    width: 15.12px;
    color: #000000CC;
}

.button-menu img {
    height: 18px;
    width: 18px;
    color: #000000;
}

.Container {
    height: 73px;
    width: 100vw;
    border: 2px solid red;
    background-color: #FFFFFF;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: regular;
    font-size: 14px;
    color: #1D1D1F;
    line-height: 20px;
    -ms-text-combine-horizontal: center;
    vertical-align: middle;

}